header {
  width: 100%;
  position: fixed;
  background-color: pink;
  text-align: center;
  padding: 15px 15px;
  font-size: 15px;
}

.poema {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding-top: 100px;
}
.poema2 {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding-top: 30px;
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .poema {
    font-size: 5px;
    width: 50%;
    display: flex;
    flex-flow: column;
    padding-top: 100px;
  }
  .poema2 {
    font-size: 5px;
    width: 50%;
    display: flex;
    flex-flow: column;
    padding-top: 30px;
  }

}